<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success Planner</title>
    <link href="styles.css" rel="stylesheet">
</head>

<body class="paper">
    <div id="app">
            <!-- <p>Welcome {{name}}<br><a href="#" @click="logout">Logout</a></p> -->
            <!-- <hr> -->
        <div class="layout">
            <div class="section">
                <h1>Todo</h1>
                <form @submit.prevent="AddTodo">
                    <input type="text" v-model="TodoText" placeholder="Todo Item">
                </form>
                <ul>
                    <li v-for="todo in Todos"> {{ todo.text }} </li>
                </ul>
                <button type="reset" @click.prevent="ClearTodo">Clear</button>
            </div class="section">
            <div class="section">
                <h1>Notes</h1>
                <form @submit.prevent="AddNote">
                    <input type="text" v-model="NoteText" placeholder="Notes">
                </form>
                <ul>
                    <li v-for="note in Notes"> {{ note.text }} </li>
                </ul>
                <button type="reset" @click.prevent="ClearNote">Clear</button>
            </div>
            <div class="section">
                <h1>Goals</h1>
                <form @submit.prevent="AddGoal">
                    <input type="text" v-model="GoalText" placeholder="Goal">
                </form>
                <ul>
                    <li v-for="goal in Goals"> {{ goal.text }} </li>
                </ul>
                <button type="reset" @click.prevent="ClearGoal">Clear</button>
            </div>
            <div class="section">
                <h1>Gratitude</h1>
                <form @submit.prevent="AddGratitude">
                    <input type="text" v-model="GratitudeText" placeholder="I'm thankful for...">
                </form>
                <ul>
                    <li v-for="gratitude in Gratitudes"> {{ gratitude.text }} </li>
                </ul>
                <button type="reset" @click.prevent="ClearGratitude">Clear</button>
            </div>
            <div></div>
        </div>
                <footer id="footer2">
                    <button @click.prevent="logout">logout</button>
                </footer>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="app.js"></script>
</body>

</html>